body {
    margin: 0;
    width: 100%;
}

.receipt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    width: 400px;
    height: 50%;
    max-height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.black {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.6s;
}

.black01 {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.6s;
}

.show-modal {
    visibility: visible;
    opacity: 1;
}

.buy_modal{
    background: white;
    border-radius: 5px;
    padding: 30px;
    width: 500px;
    height: 250px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: 60px;
    color : white;
}

.nav div {
    padding: 20px;
}

#first {
    font-size: 20px;
}

#third, #fourth {
    color: rgb(112, 112, 112);
}

/* 미들구간 */

.middle {
    background-color: rgb(240, 239, 239);
    padding: 20px;
    height: 1300px;
    /* max-height: 1500px; */
}

.search_box {
    display: flex;
    padding: 20px;
}

.search input {
    height: 25px;
}

.products {
    display: flex;
    justify-content: space-between;
}

#price_box {
    width: 200px;
    max-width: 250px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 25px;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
}

.price_box_incart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    max-width: 250px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 25px;
    height: 100%;
}

.price_box_incart img {
    width: 100%;
    
}

.products img {
    width: 100%;
}

#title {
    margin: 15px 0;
}

#brand {
    color: rgb(129, 129, 129);
    font-size: 15px;
    margin: 10px 0;
}

#price {
    margin: 15px 0;
}



/* 버튼 디자인 */

.btn_design {
    width:60px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.btn_design:active {
    background-color: white;
}

/* 카트영역 */

.cart {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* height: 1000px; */
    /* max-height: 1000px; */
    margin: 10px;
    padding: 30px;
    background-color: rgb(168, 168, 168);
}

.drag_box {
    display: flex;
    justify-content: flex-start;
    /* height: 400px; */
    /* max-height: 1500px; */
    background-color: black;
    overflow: hidden;
}

.drag_box h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.drag_box img{
    width: 100%;
}

/* 마지막 */

.end_buy {
    width:70px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 20px 0;
}

.end_buy:active {
    background-color: white;
}